<ion-header>
  <ion-toolbar>
    <div class="">
    <ion-title>
      <img src="https://web.dragonball-api.com/images-compress/logo_dragonballapi.webp" class="logo">
    </ion-title>

    
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="home"></ion-icon> Inicio
      </ion-button>
      <ion-button routerLink="/favorites">
        <ion-icon name="heart"></ion-icon> Favoritos
      </ion-button>
      <ion-button [href]="documentationURL"> 
        <ion-icon name="book"> </ion-icon> Documentación
      </ion-button>
    </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>


